#line{
  width: 100%; 
  color: black; 
  height: 1px; 
  background-color:black;
}
.titulo h1{
    text-align: center;
}

.text-center{
    font-family: 'Jua', sans-serif;
}

.plano{
  display: inline-block;
  border:1px solid black;
  height: 80%;
  width: 80%;
}

.container-fluid{
  
}

.table td th{
  text-align: center;
}

.table{
  border-radius: 5px;
  width: 50%;
  float: none;
  margin: 0px auto;
}
/* .jumbotron{
  height: 200px;
} */