@charset "UTF-8";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: "Cabin", Arial, Geneva, sans-serif;
	background-image: url(../img/clouds.png);
	margin: 0px;
	padding: 0px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Niconne', cursive;
  font-weight: normal;
  color: #C80060;
}
.wrapper {
	margin: 0 auto;
}
article img {
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
}
nav {
  background: url(../img/scallop.png) repeat-x;
}
nav ul {
  list-style-type: none;
  background-color: #e6bf98; 
  padding: .75em;
  margin: 12px 0 0 0;
  border-bottom: 3px solid #cc8850;
  overflow: auto;

}
/* splits nav into 2 columns
http://stackoverflow.com/questions/13104818/simple-2-column-navigation-with-css-and-a-single-list */
nav li:nth-child(even) {
  width: 50%;
  float: right;
  padding: 0.5em;
}
nav li:nth-child(odd) {
  width: 50%;
  float: left;
    padding: 0.5em;
}
nav a {
  color: #c80060;
  text-decoration: none;
  display: block;
  padding-left:3.333333%;
}
nav a:hover {
  color:#00c4c7;
}


.row:before, 
.row:after {
    content:"";
    display: table;
    clear:both;
}
div.row {
  background-color: #fff6e0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1em;
}
.floatleft {
  float: left;
  margin: 0 1em 1em 0;
}
.floatright {
  float: right;
  margin: 0 0 1em 1em;
}
[class*='sidebar'] {
  border: 1px solid #00c4c7;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-top: 2.5em;
}
[class*='sidebar'] h3 {
  margin: 0;
  color: white;
  background-color: #00c4c7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 0.5em;
}
[class*='sidebar'] img {
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  max-width: 250px;
  display: block; /* without this, there is a gap between the image and border -- space for descenders in text, for inline elements */
} 
.sidebar-secondary {
  border-color: #c80060;
}
.sidebar-secondary h3 {
  background-color: #c80060;
}
blockquote {
  padding: 0em;
  margin: 0;
}
blockquote p, 
blockquote cite {
  padding: 0 1em;
}
blockquote cite {
  text-transform: uppercase;
  font-style: normal;
  padding-bottom: 1em;
  display: block;
}
footer {
  background-color: #00CDD1;
  color: white;
  clear: both;
  margin: 0 0.5em 3em 0.5em;
}
footer p {
  text-align: center;
}
footer img {
  width: 52px;
}
footer a {
  color: white;
  text-decoration: none;
}


/*GRID  SYSTEMS*/

.row{
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
}

[class*="col-"]{
  flex: 0 0 92%;
  margin: 0 4%;
}
.full-width{
  flex: 0 0 100%;
  margin: 0;
}

[class*='sidebar']{
  flex: 0 0 100%;
  margin-bottom:  2em;
  margin-right: 1em;
}

.row.col-1-4{
  flex-direction: row-reverse;
}

.reverse{
  flex-direction: row-reverse;
}
/*
[class*=‘col’] {
  margin-left: 0;
}
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-1-2,
  .col-1-4  {
  width: 96.66666%;
}
*/



/* Small devices (tablets, 768px and up) */
@media (min-width: 550px){ 
  .wrapper {
      width: 97%;
      max-width: 767px;
  }
 
  div.row{
    padding: 0 2em;
  }

  nav li,
  nav li:nth-child(even), 
  nav li:nth-child(odd){
    display: inline-block;
    float: none;
    width: auto;
    padding: 0;
  }

  nav a {
    padding: 0em 1em 0em 1em;
  }

  [class*='col-']{
    margin-left: 4%;
    margin-right: 0%;
  }

  .col-1-2,
  .col-2,
  [class*="sidebar"]{
    flex: 0 0 44%;
  }

  .col-1-4,
  .col-3,
  .col-4{
    flex: 0 0 92%;
  }

  .reverse [class*='col-']{
    margin-left: 0%;
    margin-right: 4%;
  }
 
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px) { 
  .wrapper {
      width: 97%;
      max-width: 1200px;
      float: none;
  }

  h2{
    font-size: 3em;
    border-bottom: 2px dotted #c80060;
  }

  h3{
    font-size: 2em;
  }

  div.row{
    padding: 0;
  }
  nav li, 
  nav li:nth-child(even),
  nav ki:nth-child(odd){
    display: inline-block;
    float: none;
    width: auto;
    padding: 0;
  }

  nav a{
    padding: 0em 1em 0em 1em;
  }

  .col-1-2,
  .col-1-4{
    flex: 0 0 20%;
  }

  .col-2,
  .col-2-4{
    flex: 0 0 44%;
  }

  .col-3{
    flex: 0 0 68%;
  }

  .col-4{
    flex: 0 0 98%;
  }

  [class*="sidebar"]{
    flex: 0 0 100%;
  }

  .order-first{
    order: 1;
  }

  .order-second{
    order: 2;
  }

  .order-third{
    order: 3;
  }

  .order-fourth{
    order: 4;
  }
}