*{
 box-sizing: border-box;
}

body{
  padding: 0;
  margin: ;
}

.calc{
    width:400px;
    background-color: black;
    color: white;
}

.screen{
  color:white;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 20px, 5px;
}

.calc-button{
    background-color: #d8d9db;
    color:black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius:0px;
    font-size: 40px;
    cursor: pointer;
}

.cal-button:hover{
  background-color: #ebebeb;
}

.double{
    width: 49.7%;
}

.triple{
  width: 74.8%;
}

.calc-button:last-child{
    background-color: #df974e;
    color:white;
}
.calc-button:last-child:hover{
    background-color: #dfb07e;
}

.calc-button-row{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.calc-button-row:last-child{
    padding-bottom: 0;
}
